<div class="container con-xxl">
  <div class="row">
    <div class="col-xxl-6">Test</div>
    <div class="col-xxl-6">Pest</div>
  </div>
</div>
<div class="container con-xl">
  <div class="row">
    <div class="col-xl-6">Test</div>
    <div class="col-xl-6">Pest</div>
  </div>
</div>
<div class="container con-lg">
  <div class="row">
    <div class="col-lg-6">Test</div>
    <div class="col-lg-6">Pest</div>
  </div>
</div>
<div class="container con-md">
  <div class="row">
    <div class="col-md-6">Test</div>
    <div class="col-md-6">Pest</div>
  </div>
</div>
<div class="container con-sm">
  <div class="row">
    <div class="col-sm-6">Test</div>
    <div class="col-sm-6">Pest</div>
  </div>
</div>
<div class="container con-xs">
  <div class="row">
    <div class="col-6">Test</div>
    <div class="col-6">Pest</div>
  </div>
</div>
